<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../../bootstrap-5.3.2-dist/css/bootstrap.min.css">
    
    <!-- icon bootstrap -->
    <link rel="stylesheet" href="../../bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <!-- my css -->
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <!-- parent layouts -->
    <%- include('navtop') %>

    <div class="container"><%- body %></div>

  </script>
  <script src="../../bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
