    <div class="card text-bg-dark" style="height: 100vh;">
        <img src="/img/404.jpg" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay">
          <h3 class="card-title">ERROR : Halaman tidak di temukan</h3>
         <div class="d-flex justify-content-start">
          <p class="card-text">Mencari yang tidak di sediakan oleh pencipta, itu adalah tindakan yang sangat bodoh 😋</p>
         </div>
         <div class="d-flex justify-content-end align-items-end">
          <a href="/" type="button" class="btn my-bg">Kembali ke HOME</a>
         </div>
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
        </div>
      </div>