<div class="card mt-3">
    <div class="card-header ">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid d-flex justify-content-around">
                <h5>Database kamus mufrodat</h5>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Cari data" aria-label="Search" name="cariData">
                <button class="btn btn-outline-success" type="submit">Cari</button>
              </form>
            </div>
          </nav>
    </div>
</div>