@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
:root{
    --my-bg-default:#aeaeae
}

.text-arabic{
    font-family: 'Amiri Quran', serif;
    direction: rtl;
}
.my-bg {
    background: var(--my-bg-default);
}
#cariInKamus:hover{
    color: #6610f2;
}